/**
 * ----------------------------------------------
 * COLOR CODES
 * ----------------------------------------------
 *
*/
// Black & White
$white:                 #ffffff;
$black:                 #000000;

// Main Template colors's
$theme-color:           #3aafe1;
$primary:               #FF6192;
$secondary:             #FF6192;

// Text color's
$title-text-color:      #2e3c40;
$p-text-color:          #616161;
$link-text:             #616161;

// background Color's
$background-color1:     #f8f8f9;
$background-color2:     #020202;

// Extra Uses color's
$color1:                #7b7b7b;
$color2:                #b1b1b1;
$color3:                #55dfaf;
$color4:                #b870ea;
$color5:                #272727;
$color6:                #23c181;