
.terms-conditions{
	.terms-conditions-containt{
		//margin-bottom: 35px;
		p.p-text{
			font-size: 13px;
		    font-family: 'Questrial', sans-serif;
		    color: #7b7b7b;
		    font-style: normal;
		    font-weight: 400;
		    text-align: left;
		    text-transform: none;
		    line-height: 1.6em;
		    margin-bottom: 10px;
		    strong{
		    	font-size: 13px;
		    }
		}
	}
}
footer{
	.footer-inner{
		padding-top: 35px;
    	border-top: 1px solid #e1e1e1;
	}
}